@import '@/styles/variables.scss';

.breadcrumb {
    margin: 16px 0px;
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            color: $font-color-light;
            font-size: $font-size-m;
        }
    }
}