@import '@/styles/variables.scss';

.card{
    background-color: #fff;
    display: flex;
    border-radius: 4px 4px 0px 0px;
    border-bottom: thin solid $background-color;
    padding: 16px;
    &:last-of-type{
        border-radius: 0 0 4px 4px;
    }
}