@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: var(--proximanova);
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
  }
}

* {
  box-sizing: border-box;
}