$font: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif, sans-serif;
$background-color: #EEEEEE;

$ml-yellow: #FFE600;
$ml-blue: #3483fa;
$ml-blue-hover: #2968c8;

$font-color-dark: #333333;
$font-color-light: #999999;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-mm: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-xxxl: 46px;